.tdtop{
 	font-size: 20pt;
 	color: #FC3C03;
 	font-family: 宋体;
 	font-weight: bold;
}

.titleFont{
 	font-size: 11pt;
	color: #FC3C03;
	font-family: 楷体_GB2312;
}

.inputDocStyle {
	BORDER-TOP: #8B8B8B 0px solid; 
	BORDER-BOTTOM: #8B8B8B 0px solid; 
	BORDER-LEFT: #8B8B8B 0px solid; 
	BORDER-RIGHT: #8B8B8B 0px solid; 
 	font-size: 14pt;
	width: 100%;
	HEIGHT: 25px; 
	BACKGROUND-COLOR: #F8E5E4;
}

.inputTextDocStyle {
	BORDER-TOP: #8B8B8B 0px solid; 
	BORDER-BOTTOM: #8B8B8B 0px solid; 
	BORDER-LEFT: #8B8B8B 0px solid; 
	BORDER-RIGHT: #8B8B8B 0px solid; 
 	font-size: 14pt;
	width: 100%;
	HEIGHT: 100%; 
	BACKGROUND-COLOR: #F8E5E4;
}

.Selectdocstyle {
	width: 100%;
	HEIGHT: 100%; 
	BORDER-TOP: #7F9DB9 0px solid; 
	BORDER-BOTTOM: #7F9DB9 0px solid; 
	BORDER-LEFT: #7F9DB9 0px solid; 
	BORDER-RIGHT: #7F9DB9 0px solid; 
	BACKGROUND-COLOR: #F8E5E4;
}

.sendTableStyle{
  	border-top:solid 2px #FC3C03; 
  	border-left:solid 2px #FC3C03; 
  	border-right:solid 1px #FC3C03; 
  	border-bottom:solid 2px #FC3C03; 
}

.sendTd{
  	border-bottom:solid 1px #FC3C03; 
  	border-right:solid 1px #FC3C03; 
 	PADDING-TOP: 6px; 
	PADDING-LEFT: 6px; 
 	font-size: 11pt;
	color: #FC3C03;
	font-family: 楷体_GB2312;
}

.sendTdBottom{
  	border-right:solid 1px #FC3C03; 
 	PADDING-TOP: 6px; 
	PADDING-LEFT: 6px; 
 	font-size: 11pt;
	color: #FC3C03;
	font-family: 楷体_GB2312;
}

.ReceiveTableStyle {
  	border-top:solid 2px #000000; 
  	border-left:solid 2px #000000; 
  	border-right:solid 1px #000000; 
  	border-bottom:solid 1px #000000; 
}

.ReceiveTd{
  	border-bottom:solid 1px #000000; 
  	border-right:solid 1px #000000; 
 	font-size: 11pt;
	color: #000000;
	font-family: 楷体_GB2312;
}





.head {
	font-size: 18pt; 
	font-family:楷体_GB2312; 
	color:red; 
	padding:5px
}

.littlehead {
	font-size: 11pt; 
	font-family:楷体_GB2312; 
	color:red;
}

.top {
	font-size: 11pt; 
	font-family:楷体_GB2312; 
	color:red; 
	border-top: 1 solid red;
}

.bottom {
	font-size: 11pt; 
	font-family:楷体_GB2312; 
	color:red; 
}

.lefttop {
	font-size: 11pt; 
	font-family:楷体_GB2312; 
	color:red; 
	border-left: 1 solid red; 
	border-top: 1 solid red;
}

.lefttopnored {
	font-size: 11pt; 
	font-family:楷体_GB2312; 
	border-left: 1 solid red; 
	border-top: 1 solid red;
}

.topbottom {
	font-size: 11pt; 
	font-family:楷体_GB2312;
	border-top: 1 double red;  
	border-bottom: 1 double red; 
	color:red; 
	padding:5px
}

.lefttopbottom {
	font-size: 11pt; 
	font-family:楷体_GB2312; 
	color:red; 
	border-left: 1 solid red; 
	border-top: 1 solid red;
	border-bottom: 1 solid red;
}

